{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="logincolor" class="d-flex">
    <div class="container col-md-8 mx-auto">
      <h2 class="text-center mb-4">Iniciar sesión</h2>
      <form>
        <div class="mb-3">
          <label for="correo">Correo electrónico:</label>
          <input type="email" id="correo" name="correo" placeholder="example@email.com">
        </div>
        <div class="mb-3">
          <label for="contra">Contraseña:</label>
          <input type="password" id="contra" name="contra">
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success">Iniciar sesión</button>
        </div>
      </form>
      <div class="text-center mt-4">
        <a href="#" class="btn btn-warning" onclick="olvidecontra()">Olvidé mi contraseña</a>
        <a href="registro.html" class="btn btn-primary">No tienes una cuenta? registrate</a>
      </div>
    </div>
  </div>
    <!-- Código para mostrar la notificación -->
    <script>
      function olvidecontra() {
        alert("Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña.");
      }
    </script>     
{% endblock %}