{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div id="titulonosotros" class="jumbotron text-center">  <!-- se ocupa la clase jumbotron para destacar la empresa-->
        <h1>Rayo Makween</h1>
        <p>Emprendimiento de taller mecánico</p>
    </div>
<!--contenedores vision, mision, dueños -->
    <div id="contenedorgr" class="row">
  <!--visión -->
        <div id="contenedorpq" class="col-sm-4">
            <h3>Visión</h3>
            <p>Nuestra visión es ser líderes en el mercado mecánico con referencia a vehiculos, ofreciendo servicios de alta calidad. nos empeñamos por ser una empresa ética y sostenible.
      Queremos ser reconocidos por nuestro gran compromiso con el servicio al cliente, velando por la excelencia y satisfaccion de nuestro servicio.
    </p>
        </div>
        <!--misión-->
        <div id="contenedorpq" class="col-sm-4">
            <h3>Misión</h3>
            <p>
      Nuestra misión es proporcionar soluciones a todos los inconvenientes que puede tener un vehiculo, abarcando especialidades como: electrónica automotriz, cajas de cambio, suspensión y dirección.
      ofrecemos un servicio completo. Nos esforzamos por tener un ambiente de trabajo positivo y colaborativo, en el que nuestro equipo pueda desarrollarse profesionalmente.
    </p>
        </div>
        <!--dueños -->
        <div id="contenedorpq" class="col-sm-4">
            <h3>Dueños</h3>
            <p>Nuestra empresa se compone de alumnos egresados de la universidad de la carrera de mecánica automotriz con el sueño de tener el mejor taller mecánico del mercado, cada especialista del área
      cuenta con un certificado profesional, tras años de experiencia nuestro equipo busca posicionarse como una referencia en cuanto a la mecánica automotriz.
    </p>
        </div>
    </div>
</div>
<div class="tienda_link_home">
    <a href="{% url 'home' %}" class="btn btn-info btn-sm">Volver pagina de inicio</a>
</div>
{% endblock %}