{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card-columns">
    <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Diagnostico <cite>"Mantenimiento caja de cambios"</cite></h5>
        <p class="card-text"> Comprobacion periódica del nivel de aceite así como con la cantidad de líquido hidráulico (ATF), ya que de éstos depende mantener una óptima lubricación del sistema y suavizar el desgaste de los componentes.
        Recordar que el calor, la fricción y la presión interna van deteriorando este tipo de fluidos y obstruyendo el filtro interno.<cite> "Se aconseja siempre comprobar el kilometraje y tiempo aconsejados por el fabricante para sustituirlos.</cite>
        </p>
    </div>
    </div>
    <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
        <p>Listado de Materiales Utilizados: </p>
        <small>
        <ul>
            <li>Un gato elevador.</li>
            <li>Cuñas para ruedas.</li>
            <li>Soportes para cargar el vehículo.</li>
            <li>Una bomba de succión.</li>
            <li>Un recipiente de recogida.</li>
            <li>Un depósito de expansión nuevo.</li>
            <li>Aceite hidráulico fresco y apropiado.</li>
            <li>Un ayudante, siempre que sea posible.</li>
        </ul>
    </small>
    </blockquote>
    </div>
    <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">El Mecanico "Juan Perez"</h5>
        <p class="card-text">Técnico superior en automoción, especializado en mantenimiento de motores y con más de 4 años de experiencia en talleres mecánicos. Habiendo participado en el mantenimiento y reparación de más de 300 coches y motocicletas.</p>
    </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
        <img class="card bg-primary" src="..." alt="Card image cap">
        <blockquote class="blockquote mb-0">
        <p>"11-01-2023"</p>
        <footer class="blockquote-footer" >
        <small style="color: black;"><cite>fecha de ingreso del vehiculo</cite></small>
        </footer>
    </blockquote>
    </div>
    <div class="card right">
        <img class="card p-1 right" src="..." alt="Card image cap">
        <img class="card p-1 right" src="..." alt="Card image cap">
        <img class="card p-1 right" src="..." alt="Card image cap">
    </div>
</div>
<div class="container-fluid" role="toolbar" aria-label="Toolbar with button groups">
    <div class="justify-content-center"role="group" aria-label="First group">
        <div class="col text-center">
            <a href="{% url 'pag_caja' %}"><button type="button" class="btn btn-primary ">1</button></a>
            <a href="{% url 'pag_electri' %}"><button type="button" class="btn btn-primary">2</button></a>
            <a href="{% url 'pag_suspe' %}"><button type="button" class="btn btn-primary">3</button></a>
        </div>
    </div>
</div>
{% endblock %}
