#formulario label {
    width: 150px;
}

.btnwidth {
    width: 90px;
}



#tabla_datos {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid rgb(238,174,202);
    
    margin-top: 10px;
    margin-bottom: 20px;
}

#tabla_datos th, td {
    border: 1px solid rgb(0, 0, 0);
    
    padding: 5px;
}

#tabla_datos th {
    background-color: rgb(190, 190, 190);
    
    color: black;
}

#tabla_datos tr:nth-child(even) {
  background-color: rgb(238,174,202);
}

.titulo_boton {
    width: 65;
}

.boton_chico {
    font-size: 0.7em;
    width: 60px;
}

#form_message {
    margin-top: 20px;
}

.mini_auto {
    width: 100px;
}

.tienda_auto_recuadro {
    width: 250px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    border: 5px outset rgb(238,174,202);
}

.tienda_auto_imagen {
    margin: auto;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}

.tienda_auto_recuadro_interior {
    width: 205px;
    height: 155px;
    border: 1px solid;
    border-radius: 8px;
    margin:auto;
    display: inline-block; /* Para que el contenedor se ajuste al tamaño de la imagen */
/*  overflow: hidden; /* Para recortar cualquier parte de la imagen que exceda el contenedor */
    width: 100%; /* La imagen ocupará el ancho completo del contenedor */
    
}

.tienda_link_home {
    text-align: center;
    margin-top: 20px;
}

.ficha_auto_recuadro {
    padding:10px;
    border: 5px outset rgb(238,174,202);
    border-radius: 8px;
}

.ficha_auto_imagen {
    margin: auto;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.ficha_datos_recuadro {
    padding:10px;
    border-radius: 8px;
}
#navcolor {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,148,233,1) 100%);
    background-image: url("logo.jpg");
    background-size: cover;
    
}

#navletra {
    color: black;
    
}

#navtitulo{
    color: white;
    background-color: black;
}

.carousel-item img {
    width: 500px;
    height: 400px;
}

#registrocolor{
    
    height: 610px;
    width: 750px;
    padding: 30px  ; 
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(145,173,255,1) 100%);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logincolor{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(145,173,255,1) 100%);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#error{
    color: white;
    background-color: red;
    height: auto;
    width: auto;
}

#succes{
    color: white;
    background-color: green;
    height: auto;
    width: auto;
}

#fondo{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 75%);
}

#titulonosotros{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(145,173,255,1) 100%);
    border-radius: 10px;
}

#contenedorgr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgb(138, 100, 226);
}

#contenedorpq {
    width: 30%;
}
.no_mostrar{
    display: none;
}
.mostrarC{
    display: block;
}
.content-container{
    margin-top: 20px;
}
.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    flex: 1;
}
.container-contenido{
    flex: 1;
}
